bootstrap.memory_lock: true
cluster.name: graylog
discovery.zen.ping.unicast.hosts:
{% for host in groups['elastic_node'] %}
  - {{ host }}
{% endfor %}
network.host: 0.0.0.0
node.data: true
node.ingest: true
node.master: {% if inventory_hostname == groups['elastic_node'][0] %}true{% else %}false{% endif %}

node.name: {{ inventory_hostname }}

#################################### Paths ####################################

path.data: /graylog/elasticsearch
path.logs: /var/log/elasticsearch
path.repo: /graylog/nfs-elk/snapshots/

action.auto_create_index: true
