# mongod.conf

# for documentation of all options, see:
#   http://docs.mongodb.org/manual/reference/configuration-options/

# where to write logging data.
systemLog:
  destination: file
  logAppend: true
  path: /var/log/mongodb/mongod.log

# Where and how to store data.
storage:
  dbPath: /graylog/mongodb
  journal:
    enabled: true
  wiredTiger:
    engineConfig:
      configString: cache_size=1Gb

# network interfaces
net:
  port: 27017
  bindIp: localhost,{{ hostvars[inventory_hostname]['ansible_host'] }}

replication:
  replSetName: "graylog"
