__________________ЗАБРАТЬ ИЗ ФАЙЛА /tmp/rs_config.js__________________

__________________ПОДКЛЮЧИТЬСЯ К MONGODB__________________
mongo --host localhost --port 27017

__________________АКТИВАЦИЯ MONGODB КЛАСТЕРА__________________
rs.initiate({
  _id: "graylog",
  members: [
  {% for item in groups['mongo_node'] | sort %}
    { "_id": {{ loop.index0 }}, "host": "{{ item }}:27017" }{% if not loop.last %},
{% endif %}
  {% endfor %}
  
  ]
})

__________________ПРОВЕРИТЬ КЛАСТЕР__________________
rs.status()

__________________ДОБАВИТЬ ХОСТ MONGODB ВРУЧНУЮ__________________
rs.add("HOSTNAME:27017")
